<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css">
   
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->


    
    
     <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  -->
    <title>Vira Romanko</title>
</head>
<body>
    <h1 class="hidden">Vira Romanko Portfolio</h1>

    <header>
        <h2 class="hidden">Header</h2>
        <nav class="navigationBar">
          <h3 class="hidden">Main Navigation</h3>
          <a href="/"
            ><img class="logo" src="images/logo.svg" alt="logo"
          /></a>
          <div class="navBar desktop top">
            <ul>
              <li class="scrollTo1Btn hovercenter">Skills</li>
              <li class="scrollTo2Btn hovercenter">About</li>
              <li class="scrollTo3Btn hovercenter">Portfolio</li>
              <li class="scrollTo4Btn hovercenter">Contact</li>
            </ul>
            <div class="social">
                    <a href="https://www.linkedin.com/"><img src="images/linkedin.svg" alt="linkedin"/></a>
                    <a href="https://www.github.com/"><img src="images/github.svg" alt="github"/></a>
                    <a href="https://www.dribble.com/"><img src="images/dribbble.svg" alt="dribbble"/></a>
                  </div>
          </div>
          <div class="hamburgerMenu">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </nav>
        <nav class="navBar mobile">
          <h2 class="hidden">Main Navigation Mobile</h2>
          <ul>
              <!-- <li><a id="hero-link" href="#hero">Home</a></li> -->
                <li class="scrollTo1Btn">Skills</li>
                <li class="scrollTo2Btn">About</li>
                <li class="scrollTo3Btn">Portfolio</li>
                <li class="scrollTo4Btn">Contact</li>
          </ul>
          <div class="social">
                <a href="https://www.linkedin.com/in/vira-romanko-8b1154198/"><img src="images/linkedin.svg" alt="linkedin"/></a>
                <a href="https://github.com/vira-romanko"><img src="images/github.svg" alt="github"/></a>
                <a href="https://dribbble.com/vira_romanko"><img src="images/dribbble.svg" alt="dribbble"/></a>
              </div>
        </nav>
        <div class="hero">
            </div>
    </header>
    <section class="hero">
       <h2 class="hidden">Hero Section</h2>
       <article>Keeping the balance between <span id="function">functionality </span>and <span id="creative">creativity</span></article>
       <object data="images/hero.svg" type="image/svg+xml"  id="ballon"></object>
       
    </section>
    <section   class="scrollTo1 skills-purple">
            <h1 class="sections"> Skills</h1>

            <div class="skills">
                    
        
                    <div id="dev">
                        <h2 class="skills-header"> Web Development</h2>
                        <picture  class="skills-img1">
                          <source srcset="images/gif1-small.gif" media="(max-width: 1064px)">
                            <img src="images/gif1-large.gif" alt="Web Development">
                        </picture>
                    
                       
                        <p>Experience in Frontend and Backend web development with HTML5 / CSS3, Javascript, NodeJS, VueJS, PHP/MySQL. Laravel and Drupal.</p>
            
                    </div>
                    <div id="des">
                            <h2 class="skills-header"> Web Design</h2>
                            <picture  class="skills-img2">
                              <source srcset="images/gif3-small.gif" media="(max-width: 1064px)">
                                <img src="images/gif3-large.gif" alt="Web Design">
                            </picture>
                          
                            <p>Approaching digital media design and UX/UI layouts in a clean and dynamic way. Use of Adobe Creative package for the creative mood.</p>
                        </div>
                        <div id="production">
                                <h2 class="skills-header"> Media Production</h2>
                                <picture class="skills-img3">
                                  <source srcset="images/gif3-small.gif" media="(max-width: 1064px)">
                                    <img src="images/gif3-large.gif" alt="Media Production">
                                </picture>
                                <p> A positive and effective communication involves different types of media. Problem Solving solutions with Design Thinking and going outside of the box.</p>
                    
                            </div>
                  
                </div>


    </section>
    <section>
        <h1 class="scrollTo2 sections a-title">About</h1>
      <div  id="hero"class="about">

          <picture>
              <source srcset="images/about-mobile.jpg" media="(max-width: 786px)">
                <img src="images/about-tablet.jpg" alt="Profile Image">
            </picture>
            <div class="about-text">
              <h1 class="hello1"> OH, HELLO THERE!</h1>
              <p>
                
                My name is <span class="vira">Vira</span> <span class="romanko">Romanko</span> and I am a junior front-end developer with design passion. I believe that great design is practical and oriented on the end user. 
                Aside from designing and coding, I love music, photography and wake boarding!
                My main goal in the work process is to break down big tasks into small ones and ensure that customers are satisfied with the end deliverables.  
          
          
                <span class="vision"> Share my vision?  Take a look at my works</span>
              </p>
            </div>

      </div>
     
     
    

    </section>

    <section class='scrollTo3 portfolio'>
      <h1 class="hidden">Portfolio Section</h1>
      <h1 class="sections">Portfolio</h1>
      <div class="indicator">
        <a href="#all">All</a>
        <div class="yellow-box"></div>
        <a href="#development-portfolio">Development</a>
        <div class="yellow-box"></div>
        <a href="#design-portfolio">Design</a>
      </div>

      
          
   
  

    </section>
    <section class="scrollTo4 contact">
      <h1 class="sections">Contact</h1>
      <h2 class="subline">Don't be a stranger. Drop me a line.</h2>
      <div class="contact-form">
<div class="contact-balloon">
  <h3 class="explore">Let's explore together</h3>
  <img src="images/contact_balloon.svg"alt="hot air balloon"/>
</div>
<div class="contactFormFull">
    <form action="data" method="post">
      <label  for="name-field"> Name</label>
      <input  id="name-field" name="name" type="text" placeholder=" Enter your name">
      <label for="email-field"> Email</label>
      <input id="email-field" name="email" type="email" placeholder="Enter your email">
      <label for="subject-field"> Subject</label>
      <input id="subject-field" name="subject"type="text" placeholder="Subject line">
      <label for="message-field"> Message</label>
      <textarea id="message-field" name="massage" placeholder="Message"></textarea>
    <button id="sub-button" class="go-back"type="submit">Send</button>
   </form>
</div>
      </div>

    </section>
    
    
   <section >
       <h2 class="hidden"> Back to top</h2>
        <a id="to-top" href="/" class="nav-item"><img src="images/back.svg" alt="back to top"/></a>
   </section>
    

    <footer class="footer">

            <a href="/">
                <img class="logo" src="images/logo.svg" alt="logo"/>
               
            </a>
            <p>Copyright (c) 2019 by Vira Romanko</p>

    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.0/ScrollToPlugin.min.js"></script>
    <script src="js/main.js"></script>
   
    <script src="js/modules/scroll.js"></script>
    <script src="js/modules/hamburger.js"></script>
    
    <script src="js/modules/ScrollMagic.js"></script>
    <!-- <script src="js/modules/submission.js"></script> -->
    <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
       once: true,
        offset: 100,
        duration: 5000
        
    });
   
    
  </script> -->
</body>
</html>