<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css">

    <title>Vira Romanko</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/TextPlugin.min.js"></script>
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <h1 class="hidden">Vira Romanko Portfolio</h1>

    <header>
        <h2 class="hidden">Header</h2>
        <nav class="navigationBar">
          <h3 class="hidden">Main Navigation</h3>
          <a href="/"
            ><img class="logo" src="images/logo.svg" alt="logo"
          /></a>
          <div class="navBar desktop top">
            <ul>
              <li class="scrollTo hovercenter">Skills</li>
              <li class="scrollTo hovercenter">About</li>
              <li class="scrollTo hovercenter">Portfolio</li>
              <li class="scrollTo hovercenter">Contact</li>
            </ul>
            <div class="social">
                    <a href="https://www.linkedin.com/in/vira-romanko-8b1154198/"><img src="images/linkedin.svg" alt="linkedin"/></a>
                    <a href="https://github.com/vira-romanko"><img src="images/github.svg" alt="github"/></a>
                    <a href="https://dribbble.com/vira_romanko"><img src="images/dribbble.svg" alt="dribbble"/></a>
                  </div>
          </div>
          <div class="hamburgerMenu">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </nav>
        <nav class="navBar mobile">
          <h2 class="hidden">Main Navigation Mobile</h2>
          <ul>
              <!-- <li><a id="hero-link" href="#hero">Home</a></li> -->
                <li class="scrollTo">Skills</li>
                <li class="scrollTo">About</li>
                <li class="scrollTo">Portfolio</li>
                <li class="scrollTo">Contact</li>
          </ul>
          <div class="social">
                <a href="https://www.linkedin.com/in/vira-romanko-8b1154198/"><img src="images/linkedin.svg" alt="linkedin"/></a>
                <a href="https://github.com/vira-romanko"><img src="images/github.svg" alt="github"/></a>
                <a href="https://dribbble.com/vira_romanko"><img src="images/dribbble.svg" alt="dribbble"/></a>
              </div>
        </nav>
        </header>
        {{{body}}}
 

       
        <footer class="footer">

            <a href="/">
                <img class="logo" src="images/logo.svg" alt="logo"/>
               
            </a>
            
            {{!-- <a href="images/hero.svg" target="_blank" >Resume</a>  --}}
            <p>Copyright (c) 2019 by Vira Romanko</p>

    </footer>
     <script src="js/main.js"></script>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.0/ScrollToPlugin.min.js"></script>
   
   
    <script src="js/modules/scroll.js"></script>
    <script src="js/modules/hamburger.js"></script>
    <script src="js/modules/animations.js"></script>
    
   
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
       once: true,
        offset: 100,
        duration: 5000
        
    });
   
    
  </script> 
</body>
</html>
