<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ScrollToPlugin.min.js"></script>

    <title>Teentalks</title>
  </head>
  <body class="teen-body">
       <header>
        <h2 class="hidden">Header</h2>
        <nav class="navigationBar">
          <h3 class="hidden">Main Navigation</h3>
          <a href="/"
            ><img class="logo" src="images/logo.svg" alt="logo"
          /></a>
          <div class="navBar desktop top">
            <ul>
              <li class="scrollTo hovercenter">Skills</li>
              <li class="scrollTo hovercenter">About</li>
              <li class="scrollTo hovercenter">Portfolio</li>
              <li class="scrollTo hovercenter">Contact</li>
            </ul>
            <div class="social">
                    <a href="https://www.linkedin.com/in/vira-romanko-8b1154198/"><img src="images/linkedin.svg" alt="linkedin"/></a>
                    <a href="https://github.com/vira-romanko"><img src="images/github.svg" alt="github"/></a>
                    <a href="https://dribbble.com/vira_romanko"><img src="images/dribbble.svg" alt="dribbble"/></a>
                  </div>
          </div>
          <div class="hamburgerMenu">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </nav>
        <nav class="navBar mobile">
          <h2 class="hidden">Main Navigation Mobile</h2>
          <ul>
              <!-- <li><a id="hero-link" href="#hero">Home</a></li> -->
                <li class="scrollTo">Skills</li>
                <li class="scrollTo">About</li>
                <li class="scrollTo">Portfolio</li>
                <li class="scrollTo">Contact</li>
          </ul>
          <div class="social">
                <a href="https://www.linkedin.com/in/vira-romanko-8b1154198/"><img src="images/linkedin.svg" alt="linkedin"/></a>
                <a href="https://github.com/vira-romanko"><img src="images/github.svg" alt="github"/></a>
                <a href="https://dribbble.com/vira_romanko"><img src="images/dribbble.svg" alt="dribbble"/></a>
              </div>
        </nav>
        </header>

        

      <section class="container">
      <h2 class="hidden">Container</h2>
      <div>
        <div>
            <div class="teen-bg-img">

            </div>
            
          <h1 class="teen-title">Teentalks</h1>
          <p class="teen-p">
           An awareness campaign for Regional HIV/AIDS Connection
          </p>
        </div>

        {{!-- <div class="scroll">About the project ↓</div> --}}
      </div>
      <section class="introduction">
        <h3 class="hidden">Introduction</h3>
        <p class="teen-p">
          We created a new online presence for RHAC, a  community-inspired and dedicated to positively impacting the lives of individuals and diverse communities living with, at-risk for, or affected by HIV/AIDS and Hepatitis C (HCV).  We were tasked with creating the site and awareness marketing campaign for teens.
        </p>
        <div class="btnCon"><a class="button go-back" href="https://github.com/vira-romanko/Lan_Le_Yuliia_Kandych_Vira_Romanko_Jimmy_Calderon_Tien_Le_FIP">Visit</a></div>
      </section>

      <section class="challenges">
        <h3>Challenges and Solutions</h3>
        <div class="wrapper-1">
          <img src="images/project_ex.jpg" alt="promo" />
          <p class="teen-p">
           We created a custom responsive webpage for a simpler user
            experience, while staying consistent with the brand
            vision. We've done a lot of research and made sure our website meets its main goal: educate, inform teenagers about HIV and AIDS. 
            The biggest challenge we had to face is how to clearly communicate important and serious information without overwhelming the potential user.
            We used calm pastel but yet bright colors, a lot of "real-people" imagery, and real-life interviewing to connect and start the conversation.
          </p>
        </div>
        <div class="wrapper-2">
          <img src="images/project_ex_3.jpg" alt="promo" />
          <p class="teen-p">
           As well as a digital campaign we covered print advertising marketing. Posters, Billboards in visible areas to catch people's attention and visit the website.
          </p>
        </div>
        <div class="btnCon">
          <a class="button go-back" href="/">See more projects</a>
        </div>
      </section>

      <section class="tools portfolioInfoCon">
        <h4>Our Most Used Tools</h4>
        <div class="toolsCon">
          <img src="images/xd_icn.svg" alt="XD Icon" />
          <img src="images/ai_icn.svg" alt="Illustrator Icon" />
          <img src="images/ps_icn.svg" alt="Photoshop Icon" />
          <img src="images/vis_studio_icn.svg" alt="VS Code Icon" />
          <img src="images/html_icn.svg" alt="HTML Icon" />
          <img src="images/sass_icn.svg" alt="Sass Icon" />
          <img src="images/js_icn.svg" alt="JS Icon" />
        </div>
      </section>

      <section class="designers portfolioInfoCon">
        <h4>Team</h4>
        <div class="designersCon">
            <div>
            <h2>Designers</h2>
          <h4>Yuliia Kandych</h4>
          <h4>Tien Lee</h4>
           

            </div>
             <div>
            <h2> Motion Designers</h2>
          <h4>Jimmy Calderon</h4>
          
           

            </div>

             <div>
            <h2>Developers</h2>
          <h4>Lan Lee</h4>
          <h4>Vira Romanko</h4>

            </div>
       
      </section>

      <section class="tags portfolioInfoCon">
        <h4>Tags</h4>
        <div class="tagsCon">
          <div class="tag">Art</div>
          <div class="tag">Design</div>
          <div class="tag">UI/UX</div>
          <div class="tag">Web</div>
          <div class="tag">Graphic</div>
        </div>
      </section>

      <section class="share portfolioInfoCon">
        <h4>Share</h4>
        <div class="shareCon">
          <a href="https://www.facebook.com/"
            ><img src="images/linkedin2.svg" alt="linkedin"
          /></a>
          <a href="https://www.facebook.com/"
            ><img src="images/twitter.svg" alt="twitter"
          /></a>
          <a href="https://www.facebook.com/"
            ><img src="images/facebook.svg" alt="facebook"
          /></a>
          <a href="https://www.facebook.com/"
            ><img src="images/instagram.svg" alt="instagram"
          /></a>
        </div>
      </section>
    </section>



<footer class="footer">

            <a href="/">
                <img class="logo" src="images/logo.svg" alt="logo"/>
               
            </a>
            
            {{!-- <a href="images/hero.svg" target="_blank" >Resume</a>  --}}
            <p>Copyright (c) 2019 by Vira Romanko</p>

    </footer>
     <script src="js/main.js"></script>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.0/ScrollToPlugin.min.js"></script>
   
   
    <script src="js/modules/scroll.js"></script>
    <script src="js/modules/hamburger.js"></script>
    <script src="js/modules/animations.js"></script>
    
   
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
       once: true,
        offset: 100,
        duration: 5000
        
    });
   
    
  </script> 
    
  </body>
</html>
