//Import fonts

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,900|Nunito:400,900&display=swap');


//Define colours
$bg:white;
$darkpurple:#37112E;
$nav:#707070;
$orange:#FAB569;
$textbody:#121315;
$firstinitial:#722338;
$secondinitial:#3F1113;
$portfolio-bg: rgba(#6F6A72, 0.2);
$functionality:#A15770;
$footer:#F4F4F4;
$four:#C8BDC5;

//Define fonts
$nunito: 'Nunito', sans-serif;
$alegreya: 'Alegreya Sans', sans-serif;



